@model IEnumerable<Course>
@{
    ViewData["Title"] = "Index";
    string instructors = "";

}

<h1></h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Dgree</th>
            <th scope="col">Min Dgree</th>
            <th scope="col">Department</th>
            <th scope="col">Edite</th>
            <th scope="col">Delete</th>
            <th scope="col">instructors</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var crs in @Model)
        {
            <tr>
                <td>@crs.Id</td>
                <td>@crs.Name</td>
                <td>@crs.degree</td>
                <td>@crs.minDegree</td>
                <td>@crs.department.Name</td>
                @* <td> <a asp-controller ></a> </td>*@

                @{
                    var parms = new Dictionary<string, string>
            {
            { "Id",@crs.Id.ToString()  },
            { "Name",@crs.Name.ToString()  },
            { "degree",@crs.degree.ToString()  },
            { "minDegree",@crs.minDegree.ToString()  },
            { "dept_id",@crs.dept_id.ToString()  },
            };
                }


                <td> <a asp-controller="Course" asp-action="New" asp-all-route-data="parms"> Edidt</a> </td>
                <td>
                    <a asp-controller="Course" asp-action="Remove" asp-route-Id="@crs.Id" name="remove"> remove</a>


                </td>
              @*  @foreach (Instructor ins in @crs.instructor)
                {
                    instructors += $"<a href= '/Instructor/details/{@ins.Id}'> Edidt</a >";
                }

                <td> @instructors </td>*@
            </tr>
        }


    </tbody>
</table>
<div class="mx-auto" style="width: 200px;">
    <a class="btn btn-primary mx-auto" asp-controller="Course" asp-action="New" sytyle role="button">ADD</a>

</div>

<script>
     for ( var ele  of  document.getElementsByName("remove"))
    ele.addEventListener("click",(e)=>{
     if( confirm("delete")==false)
      e.preventDefault();
     })
</script>
